---
interface Props {
  id: string;
  task: string;
  completed: boolean;
}

const { id, task, completed } = Astro.props;
---

<li hx-patch={"/todos/" + id} hx-swap="outerHTML">
  <input name="completed" type="checkbox" checked={completed} />
  <input type="text" name="task" value={task} />
  <button>Delete</button>
</li>
