---
interface Props {
  id: string;
  task: string;
  completed: boolean;
}

const { id, task, completed } = Astro.props;
---

<li id={"todo-" + id}>
  <input
    hx-patch={"/todos/" + id}
    hx-target={"#todo-" + id}
    hx-swap="outerHTML"
    name="completed"
    type="checkbox"
    checked={completed}
  />
  <input type="text" name="task" value={task} />
  <button>Delete</button>
</li>
